body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f7;
    color: #333;
    text-align: center;
}

header {
    background-color: #0071e3;
    color: white;
    padding: 20px;
}

h1 {
    margin: 0;
}

.generator {
    padding: 50px 20px;
}

button {
    background-color: #0071e3;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #005bb5;
}

#nameDisplay {
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
}

footer {
    background-color: #ffffff;
    text-align: center;
    padding: 20px;
    position: relative;
    bottom: 1;
    width: 100%;
}
